html
  head
    title Timeline Online
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 #{carte._id}
    p #{carte.cue}
    p #{carte.show}

    
    span=erreur