html
  head
    title Timeline Online
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 Page de création de carte
    <form action="/carte" method="POST">
        <div>
            <label for="cue">Cue</label>
            <input type="text" id="cue" name="cue"/> 
        </div>
        <div>
            <label for="show">Show</label>
            <input type="text" id="show" name="show"/> 
        </div>
        <div>
            <label for="rep">Rep</label>
            <input type="number" id="rep" name="rep"/> 
        </div>
        <button type="submit">Terminer la carte</button>
    </form>
    span=erreur
    <a href="/carte">liste cartes</a>