extends layout

block content
  h1= title
  p Bienvenue à #{title}, le jeu de société le plus populaire qui soit!
  p Pour jouer, vous devez vous connecter.
  <a href="/connexion">Se connecter</a>
  <a href="/inscription">Pas compte? Inscrivez-vous ici</a>
  
//- ul
//- each u in utilisateurs
//-   li=u.nom + ':'+u.courriel
