doctype html
html
  head
    title Timeline Online
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1 Page de connexion
    <form action="/connexion" method="POST">
      <div>
        <label for="courriel">Courriel</label>
        <input type="text" id="courriel" name="courriel"/> 
      </div>
      <div>
        <label for="mdp">Mot de passe</label>
        <input type="password" id="mdp" name="mdp"/> 
      </div>
      <button type="submit">Se connecter</button>
    </form>
    span=erreur

